<div class="container mx-auto my-16">
    <div class="grid grid-cols-2 gap-5">
        <div class="shadow-lg border-1 border-blue-500">
            <img [src]="siteImgUrl" class="m-auto" width="40%" alt="logo">
            <h3 class="text-xl font-bold p-3">{{siteName}}</h3>
            <div class="grid grid-cols-3 gap-3 my-1 p-3">
                <div class="col-span-2 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm">
                    {{siteUrl}}
                </div>
            </div>
        </div>

        <!-- Adding new password form -->
        <div class="px-20 py-10 mb-10 my-5 border-3 border-blue-500">
            <h2 class="text-2xl text-center">{{isEditEnabled ? 'Edit':'Add new'}} User & Password</h2>
            <p class="text-center">You can {{isEditEnabled ? 'edit':'add new'}} user from the below form</p>
            <form #pwdForm="ngForm">
                <div class="flex flex-col">
                    <label class="text-lf font-medium mb-2">Email</label>
                    <input [(ngModel)]="email" type="email" class="border-2 border-blue-500 rounded-lg" name="email">
                </div>
                <div class="flex flex-col">
                    <label class="text-lf font-medium mb-2">Username</label>
                    <input [(ngModel)]="username" type="text" class="border-2 border-blue-500 rounded-lg" name="username">
                </div>
                <div class="flex flex-col">
                    <label class="text-lf font-medium mb-2">Password</label>
                    <input [(ngModel)]="password" type="password" class="border-2 border-blue-500 rounded-lg" name="password">
                </div>

                <button (click)="addPwd(pwdForm.value)" class="mt-10 mx-0.5 px-5 py-3 text-sm bg-blue-500 text-white shadow rounded-md">
                    {{isEditEnabled ? 'Edit Password':'Add New Password'}}
                </button>
            </form>
        </div>
    </div>

    <!-- Password List -->
    <div class="grid grid-cols-1 mt-10">
        <table class="border-2 border-blue-500">
            <thead>
                <tr class="bg-blue-500 p-52 h-14 text-left">
                    <th class="border-2 border-blue-100 text-white text-center">Email</th>
                    <th class="border-2 border-blue-100 text-white text-center">Username</th>
                    <th class="border-2 border-blue-100 text-white text-center">Password</th>
                    <th class="border-2 border-blue-100 text-white text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="h-14" *ngFor="let pwd of allPwds">
                    <td class="border-2 border-blue-200 p-3">{{pwd.email}}</td>
                    <td class="border-2 border-blue-200 p-3">{{pwd.username}}</td>
                    <td class="border-2 border-blue-200 p-3">{{pwd.password}}</td>
                    <td class="border-2 border-blue-200 p-3">
                        <button (click)="editPwd(pwd)" class="mx-0.5 px-5 py-3 text-sm bg-blue-500 shaow rounded-md text-white">
                            Edit
                        </button>
                        <button (click)="deletePwd(pwd)" class="mx-0.5 px-5 py-3 text-sm bg-red-500 shaow rounded-md text-white">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>