<div class="container mx-auto my-16">
    <h1 class="text-5xl mt-0 mb-5">Password Manager</h1>
    <p class="mb-5">Welcome to a place where you remember all your passwords. Say no to forgetting all your passwords.</p>
    <button class="mb-5 mx-0.5 px-5 py-3 text-sm bg-blue-500 text-white shadow rounded-md">
        Add New Site
    </button>

    <!-- aLERT msg -->
    <div *ngIf="isSuccess" class="p-5 my-3 bg-blue-100 text-teal-100 rounded shadow-lg">
        {{successMsg}}
    </div>


    <div class="px-20 py-10 mb-10 my-5 border-2 rounded-lg border-blue-500">
        <h2 class="text-3xl text-center">
            {{!isEditEnabled?'Add New Site':'Edit Site'}}
        </h2>
        <p class="text-center">You can {{!isEditEnabled?'Add New Site':'Edit Site'}} from the below form</p>
        <form action="" #addForm="ngForm">
            <div class="flex flex-col">
                <label for="" class="text-lg font-medium mb-2">Site name:</label>
                <input type="text" [(ngModel)]="siteName" name="siteName" class="border-2 border-gray-900 p-2 rounded-lg"/>
            </div>
            <div class="flex flex-col">
                <label for="" class="text-lg font-medium mb-2">Site URL:</label>
                <input type="text" [(ngModel)]="siteUrl" name="siteUrl" class="border-2 border-gray-900 p-2 rounded-lg"/>
            </div>
            <div class="flex flex-col">
                <label for="" class="text-lg font-medium mb-2">Image URL:</label>
                <input type="text" [(ngModel)]="siteImgUrl" name="siteImgUrl" class="border-2 border-gray-900 p-2 rounded-lg"/>
            </div>
            <button (click)="onSubmit(addForm.value)" type="submit" class="mt-10 mx-0 5 px-5 py-3 text-sm bg-blue-500 mr-3 shadow text-white shadow rounded-md">
               {{ !isEditEnabled? 'Add New Site':'Update Site'}}
            </button>
            <button (click)="formReset()" class="mt-10 mx-0 5 px-5 py-3 text-sm bg-blue-500 shadow text-white shadow rounded-md">
                Cancel
            </button>
        </form>
    </div>

    <div class="grid grid-cols-4 gap-5">
        <div *ngFor="let site of allSites | async" class="shadow-lg border-2 border-blue-100">
            <div class="bg-white p-3" style="height: 270px;">
                <div  style="height: 170px;">
                    <img [src]="site.siteImgUrl" style="margin: auto;" class="mb-5" width="50%" height="100%" alt="Logo">
                </div>
                <h3 class="text-xl font-bold">{{site.siteName}}</h3>
                <div class="py-2 w-60 m-3 px-3 bg-blue-200 text-blue rounded-lg text-sm">{{site.siteUrl}}</div>    
            </div> 
            <div class="bg-blue-200">
                <button class="my-3 ml-3 px-2.5 py-2 bg-blue-500 text-sm text-white shadow rounded-md">
                    Add New Password
                </button>
                <button (click)="editSite(site)" class="my-3 ml-3 px-2.5 py-2 bg-blue-500  text-sm text-white shadow rounded-md">
                    Edit
                </button>
                <button (click)="deleteSite(site.id)" class="my-3 ml-3 px-2.5 py-2 bg-blue-500  text-sm text-white shadow rounded-md">
                    Delete
                </button>
            </div>
            
        </div>
    </div>

</div>